.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-md) var(--space-lg);
  background-color: var(--color-primary);
  box-shadow: var(--shadow-sm);
  position: sticky;
  top: 0;
  z-index: var(--z-sticky);
}

.header-center {
  flex: 1;
  /* margin: 0 var(--space-xl); */
}

/* .header-right {
  display: flex;
  align-items: center;
  gap: var(--space-md);
} */

.search-container {
  position: relative;
  /* width: clamp(350px, 50%, 1200px); */
  margin: 0 auto;
  padding: 0 var(--space-md);
}

.search-input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: var(--shadow-sm);
}

.search-icon {
  position: absolute;
  right: var(--space-md);
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-text-light);
}

.user-info {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

/* Responsive adjustments */
@media (min-width: 1024px) {
  .header {
    flex-wrap: wrap; /* Allow wrapping of children to next line */
  }

  .header-center {
    position: relative;
  }

  .header-right {
    position: relative;
  }

  .search-container {
    width: 100%;
  }
}

/* Additional adjustments for larger mobile devices (max-width: 992px) */
@media (min-width: 767px) and (max-width: 1024px) {
  .header {
    padding: var(--space-md);
  }
  .header-left {
    flex: 0 0 10%;
  }
  .header-center {
    flex: 0 0 40%;
  }
  .user-info {
    font-size: var(--text-md);
  }
}

/* Tablet-sized devices (max-width: 768px) */
@media (max-width: 768px) {
  .header {
    padding: var(--space-sm);
  }
  .user-info {
    font-size: var(--text-sm);
  }
}

/* Smaller mobile devices (max-width: 576px) */
@media (max-width: 576px) {
  .header {
    flex-wrap: wrap-reverse;
  }

  .header-center {
    width: 98vw;
    /* max-width: none; */
  }
}

/* Extra Small devices (max-width: 480px) */
@media (max-width: 480px) {
  .header {
    flex-direction: column;
  }

  .header-center {
    margin: var(--space-xs) 0;
  }

  .header-right {
    margin-top: var(--space-xs);
    z-index: var(--z-modal);
    position: absolute;
    top: 10%;
    right: 3%;
  }

  .user-info {
    font-size: var(--text-xxs);
  }
}
