.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px var(--space-lg);
  /* background-color: var(--color-primary); */
  box-shadow: var(--shadow-sm);
  width: 100%;
  position: sticky;
  /* top: 0;
  z-index: var(--z-sticky); */
  background: transparent;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  background-image: -webkit-repeating-linear-gradient(
      left,
      hsla(30, 50%, 40%, 0) 0%,
      /* Light wood tone */ hsla(30, 50%, 40%, 0) 6%,
      hsla(30, 50%, 40%, 0.1) 7.5%
    ),
    -webkit-repeating-linear-gradient(left, hsla(30, 50%, 30%, 0) 0%, /* Darker wood grain */
          hsla(30, 50%, 30%, 0) 4%, hsla(30, 50%, 30%, 0.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(30, 50%, 50%, 0) 0%, /* Lighter wood highlights */
          hsla(30, 50%, 50%, 0) 1.2%, hsla(30, 50%, 50%, 0.15) 2.2%),
    linear-gradient(
      180deg,
      hsl(30, 40%, 45%) 0%,
      /* Base wood tone */ hsl(30, 40%, 50%) 47%,
      /* Lighter wood */ hsl(30, 40%, 45%) 53%,
      hsl(30, 40%, 40%) 100% /* Darker wood */
    );
  /* border: 1px solid rgb(187, 143, 102); */
  /* border-color: #111; */
}

/* Ensure each section has space */
/* .header-left,
.header-center,
.header-right {
  flex: 1;
  text-align: center;
} */
.header-left {
  bottom: 0;
}

.header-center {
  flex: 1;
}

.search-container {
  position: relative;
  margin: 0 var(--space-sm);
  margin-left: var(--space-lg);
  /*padding: 0 var(--space-md); */
  display: flex;
  align-items: center;
}

.search-input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: var(--shadow-sm);
}

.search-icon {
  position: absolute;
  right: var(--space-md);
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-text-light);
}

.user-info {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  justify-content: flex-end;
}

.avatar {
  display: none;
}

/* Responsive adjustments */

/* Tablet-sized devices (max-width: 768px) */
@media (max-width: 768px) {
  .user-info {
    font-size: var(--text-sm);
  }

  .header {
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    justify-content: flex-start;
  }

  /* .header-left,
  .header-right {
    flex: 1 48%;
    text-align: left;
  } */

  /* .header-center {
    flex: 0 100%;
    text-align: center;

    order: 1;
  } */

  .search-container {
    /* margin: 0; */
    /* margin-left: var(--space-lg); */
    padding: var(--space-sm);
  }
  .welcome {
    display: none;
  }

  .avatar {
    display: block;
  }
}
