.hero-section {
  position: relative;
  text-align: left;
  color: white;
  margin-bottom: var(--space-sm);
}

.hero-image {
  width: 100%; /* Make the image responsive */
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--space-sm);
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: white;
  width: 100%;
  padding: var(--space-sm);
}

.book-title {
  color: var(--color-border); /* Title color */
}

.book-subtitle {
  color: var(--color-border);
}

.book-title {
  padding: var(--space-xs) var(--space-sm);
}

.book-subtitle {
  padding: 0 var(--space-sm);
}

@media (min-width: 1024px) {
  .book-section {
    margin-bottom: var(--space-xl);
  }

  .hero-image {
    width: 100%;
  }
}

/* Adjust background size on smaller screens */
@media (max-width: 768px) {
  .gingham-bg {
    background-size: 20px 20px; /* Smaller pattern on mobile devices */
  }

  .book-title {
    font-size: 1.5em; /* Smaller title on smaller screens */
  }

  .book-section {
    margin-bottom: var(--space-md);
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .book-section {
    margin-bottom: var(--space-xs);
  }
}

@media (max-width: 480px) {
  .gingham-bg {
    background-size: 15px 15px; /* Further smaller pattern for extra small screens */
  }

  .book-title {
    font-size: 1.2em; /* Smaller title on smaller screens */
  }

  .book-section {
    margin-bottom: var(--space-xs);
  }
}
