.hero-section {
  position: relative;
  text-align: left;
  color: white;
  margin-bottom: var(--space-sm);
}

.hero-image {
  width: 100%; /* Make the image responsive */
  height: auto;
}

.content {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--space-sm);
  background: rgba(0, 0, 0, 0.5); /*Black background with 0.5 opacity */
  border-color: rgba(255, 255, 255, 0.1);
  border-style: solid;
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(2.5px);
  width: 100%;
  padding: var(--space-sm);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.book-title {
  color: var(--color-border); /* Title color */
}

.book-subtitle {
  color: var(--color-border);
}

.book-title {
  padding: var(--space-xs) var(--space-sm);
}

.book-subtitle {
  padding: 0 var(--space-sm);
}

@media (min-width: 1024px) {
  .book-section {
    margin-bottom: var(--space-xl);
  }

  .hero-image {
    width: 100%;
  }
}

/* Adjust background size on smaller screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .gingham-bg {
    background-size: 20px 20px; /* Smaller pattern on mobile devices */
  }

  .book-title {
    font-size: 1.5em; /* Smaller title on smaller screens */
  }

  .book-section {
    margin-bottom: var(--space-md);
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .book-section {
    margin-bottom: var(--space-xs);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .gingham-bg {
    background-size: 15px 15px; /* Further smaller pattern for extra small screens */
  }

  .book-title {
    font-size: 1.2em; /* Smaller title on smaller screens */
  }

  .book-section {
    margin-bottom: var(--space-xs);
  }
  .content {
    position: relative;
  }
}
