.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*Smaller than or equal*/
@media (max-width: 1023px) {
  .menu-content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: var(--z-dropdown);
    padding: var(--space-xl);
  }
}

/*Greater than or equal*/
@media (min-width: 1024px) {
  .menu-content {
    position: static;
    box-shadow: none;
    padding: 0;
  }

  .menu-list {
    display: flex;
    gap: var(--space-lg);
  }
}
