.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .login-button {
  outline: none;
} */

.login-button:focus {
  outline: none;
}

.search-container {
  position: relative;
  margin: 0 var(--space-sm);
  margin-left: var(--space-lg);
  /*padding: 0 var(--space-md); */
  display: flex;
  align-items: center;
}

.search-input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: var(--shadow-sm);
}

.search-icon {
  position: absolute;
  right: var(--space-md);
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1023px) {
  .login-button {
    position: static;
  }
}

/*Smaller than or equal*/
@media (max-width: 1023px) {
  .menu-content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: var(--z-dropdown);
    padding: var(--space-xl);
  }
}

/*Greater than or equal*/
@media (min-width: 1024px) {
  .menu-content {
    position: static;
    box-shadow: none;
    padding: 0;
  }

  .menu-list {
    display: flex;
    flex-direction: row;
    gap: var(--space-lg);
  }
}
