.recipe-index {
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  text-align: center;
  min-height: 100vh;
  border-radius: var(--radius-lg);
  border-right: 3px solid #d0d0d0;
  padding: var(--space-xl);
  box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    to left,
    var(--color-background) 99%,
    #cccccc 100%
  );
}

.category-title {
  margin-bottom: var(--space-md);
  text-align: left;
}

.recipe-item {
  display: flex;
  align-items: baseline;
  margin-bottom: var(--space-xs);
}

.recipe-dots {
  flex: 1;
  border-bottom: 1px dotted var(--color-border);
  margin: 0 var(--space-sm);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-numbers {
  display: flex;
  gap: var(--space-sm);
}

.page-numbers span {
  padding: var(--space-xs) var(--space-sm);
  cursor: pointer;
}

.page-numbers span.active {
  background-color: var(--color-primary);
  color: white;
  border-radius: var(--radius-sm);
}

.category {
  margin: var(--space-6xl);
}

/* @media (min-width: 768px) {
  .recipe-index {
    width: clamp(350px, 100%, 767px);
  }
} */

@media (max-width: 768px) {
  .category {
    margin: 0;
  }
}
